<a href="https://colab.research.google.com/github/robertoarturomc/Visualizacion/blob/main/Ejercicio_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import plotly.express as px
import plotly.graph_objs as go
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ejercicio 08
## Gráficos Interactivos

In [5]:
dj = sns.load_dataset("dowjones")
dj

          Date   Price
0   1914-12-01   55.00
1   1915-01-01   56.55
2   1915-02-01   56.00
3   1915-03-01   58.30
4   1915-04-01   66.45
..         ...     ...
644 1968-08-01  883.72
645 1968-09-01  922.80
646 1968-10-01  955.47
647 1968-11-01  964.12
648 1968-12-01  965.39

[649 rows x 2 columns]

### 1. Utiliza Plotly express para hacer un gráfico de línea con los datos de 1965

No olvides agregar un buen título.

### 2. Modifica el parámetro _text_ para que cada punto tenga su mes indicado.

### 3. Repite el gráfico anterior, pero agrega _markers_

### 4. Ahora, agrega un gráfico de línea con datos de 1960 en adelante. Usa el zoom de tu gráfico interactivo para ver el comportamiento en esta década.

## 5. Crea un gráfico de barras con los precios de cada año de la década de los 60, usando Plotly Express.

Puedes utilizar el precio inicial, el final, el promedio, o algun otro que se te ocurra por cada año.