<a href="https://colab.research.google.com/github/robertoarturomc/Visualizacion/blob/main/Ejercicio_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Ejercicio 4
## Variables Numericas

In [ ]:
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 1. Crea un Histograma para la variable *petal_length*. Trata de escoger un buen numero de bins y observa el patron. Observa: ¿cuantos maximos locales existen?

### 2. Usando `seaborn`, crea un KDE plot para la misma variable. Escoge un buen bandwidth.

Parecieran haber dos, o quiza, tres maximos. ¿Sera que cada uno de ellos corresponde al valor mas comun para cada uno de las distintas `species`?

### 3. Usa `sns.displot` para crear un histograma o un KDE plot. Investiga como funciona el parametro *hue* y usalo para probar lo anterior.

### 4. Crea un _scatterplot_ entre las variables *petal_length* y *sepal_length*. Asegurate que los ejes X y Y empiecen en 0.

### 5. Usa seaborn o matplotlib para crear un grafico de dispersion con las variables *petal_length* y *sepal_length*. Ahora colorea los puntos segun *species* y asegurate de incluir una leyenda.


¿Notaste como una buena grafica te ayuda a ver las caracteristicas que distinguen a cada especie, sin tener que hacer un modelo?